<md-sidenav-container *ngIf="list">
    <md-sidenav #sidenav [mode]="'side'">
        <md-card>
            <md-card-header>
                <h3>Add Item</h3>
            </md-card-header>
            <md-card-content>
                <form>
                    <md-input-container>
                        <input
                            [(ngModel)]="newListItemName"
                            mdInput type="text"
                            list="commonItems"
                            [focus]="addModalFocusTriggeringEventEmitter"
                            name="newListItemName">
                        <datalist *ngIf="commonItems" id="commonItems">
                            <option *ngFor="let item of commonItems" value="{{ item.name }}"></option>
                        </datalist>
                    </md-input-container>
                </form>
            </md-card-content>
            <md-card-actions>
                <button md-raised-button (click)="saveNewListItem()" class="btn btn-primary">ADD ITEM</button>
            </md-card-actions>
        </md-card>
        <md-card>
            <md-card-header>
                <h3>Edit List Name</h3>
            </md-card-header>
            <md-card-content>
                <form>
                    <md-input-container>
                        <input
                            mdInput
                            [(ngModel)]="newListName"
                            type="text"
                            name="newListName"
                            required="required">
                    </md-input-container>
                </form>
            </md-card-content>
            <md-card-actions>
                <button md-raised-button (click)="changeListName()" class="btn btn-primary">CHANGE LIST NAME</button>
            </md-card-actions>
        </md-card>
    </md-sidenav>

    <div>
        <md-card>
            <md-card-header>
                <h2>{{ ( observableList | async )?.name }}</h2>
            </md-card-header>
            <md-card-actions>
                <button md-icon-button (click)="openSidebar()" class="btn btn-default btn-lg"><md-icon>more_vert</md-icon></button>
                <button md-raised-button (click)="confirmDelete()" class="btn btn-danger btn-lg">Delete List</button>
                <button md-raised-button (click)="removeCompletedItems()" class="btn btn-primary btn-lg">Clear Completed Items</button>
            </md-card-actions>
            <md-card-content>
                <md-list>
                    <md-list-item
                            *ngFor="let item of listItems"
                            (click)="toggleIsDone(item)"
                            class="list-group-item pointer hover big-text"
                            [class.done]="item.isDone">
                        {{ item.name }}
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>

</md-sidenav-container>

