<div *ngIf="items" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Regular Items</h2>
            <div class="input-group input-group-lg">
                <input
                    [(ngModel)]="newItemName"
                    [focus]="newItemFocusTriggeringEventEmitter"
                    type="text"
                    class="form-control input-lg"
                    name="newItemName">
                <span class="input-group-btn">
                    <button (click)="addItem()" class="btn btn-primary">Add Item</button>
                </span>
            </div>
            <br><br>
            <ul *ngIf="items" class="list-group">
                <li *ngFor="let item of items" class="list-group-item hover">
                    <div>
                        {{ item.name }}
                        <button (click)="remove(item)" class="btn btn-default btn-lg pull-right">
                            <span class="fa fa-remove fa-2x"></span>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>