<md-card>
    <md-card-header>
        <h2>Lists</h2>
    </md-card-header>
    <md-card-actions>
        <button md-raised-button (click)="addList()" class="btn btn-default btn-lg">Add New List</button>
    </md-card-actions>
    <md-card-content>
        <md-nav-list>
            <md-list-item (click)="goToDetail(i)" *ngFor="let i of lists | async" class="hover pointer">
                <h4 md-line>{{i.name}}</h4>
            </md-list-item>
        </md-nav-list>
    </md-card-content>
</md-card>