@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
    background-color: #dadfe1;
}

.hover:HOVER {
    background-color: #3195c3;
    color: white;
}

.pointer {
    cursor: pointer;
}

.big-text {
    font-size: 24pt;
}