<div class="notification-panel">
    <md-card *ngFor="let i of getNotifications()" [ngClass]="getClasses(i)">
        <md-card-header>
            <md-card-title><span class="title">{{ i.title }}</span></md-card-title>
        </md-card-header>
        <md-card-content>
            <p *ngIf="i.text">
                {{ i.text }}
            </p>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button>CLOSE</button>
        </md-card-actions>
    </md-card>
</div>